*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(180deg, rgba(0, 32, 58, 0.849), rgba(53, 144, 219, 0.596));
    height: 100vw;
    width: 100vw;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cabeca{
    display: flex;
    flex: 1;
    padding: 20px 50px;
}

.info{
    flex: 1;
    align-items: center;
    justify-content: center;   
    padding-top: 75px;
    line-height: 0.75cm;
}

header{
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.resumo{
    width: 75%;
    padding-top: 45px;
    text-align: center;
    font-size: 14pt;
    margin: auto;
}

.skills{
    border-top: 3px solid black;
    width: 60%;
    margin-left: 225px;
    text-align: left;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noskills{
    border-bottom: 3px solid black;
}

li{
    font-size: 14pt;
    line-height: 1cm;
}

.noskills{
    width: 60%;
    margin-left: 225px;
    text-align: left;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider{
    padding-top: 25px;
    padding-bottom: 25px;
    flex: 1;
    overflow: hidden;
}

.slider--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
}

.slider--controls{
    position: absolute;
    padding-left: 1%;
    z-index: 99;
    width: 98%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.slider--control{
    height: 50px;
    width: 50px;
    background-color: rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

.slider--control:hover{
    background-color: rgba(0.2, 0.2, 0.2, 0.4);
}

.slider--control:active{
    background-color: rgba(0.2, 0.2, 0.2, 0.4);
    border: 1px solid black;
}

.projetos{
    border-top: 3px solid black;
    padding: 25px;
    width: 60%;
    text-align: center;
    margin-left: 225px;
}

span{
    color: black;
}

span:hover{
    font-weight: bold;
}

.fishiny{
    display: flex;
    padding: 25px;
}

.fishinydescricao{
    /* border: 1px solid red; */
    width: 50vw;
    padding: 25px;
    line-height: 0.75cm;
    text-align: center;
    font-size: 14pt;
    margin: auto;
}

.fishinydescricao a{
    text-decoration: none;
}

.fishinygraph{
/*     border: 1px solid red; */
    width: 50vw;
}

.fishinygraph img{
    width: 100%;
}

.social-container {
    width: 400px;
    margin: 40vh auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-container a {
    display: inline-block;
}     

.social-container a::before {
    transform: scale();
    -ms-transform: scale();
    -webkit-transform: scale();
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00B5F5, #002A8F);
    transition: all 265ms ease-out;
}
        
.social-container a:hover::before {
        transform: scale(0);
        transition: all 265ms ease-in;
}
        
.social-container a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #00B5F5;
    background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}
