:root {
  --step--4: clamp(0.8rem, calc(0.35rem + 0.34vw), 0.78rem);
  --step--3: clamp(1rem, calc(0.4rem + 0.5vw), 0.78rem);
  --step--2: clamp(1.22rem, calc(0.55rem + 0.78vw), 0.78rem);
  --step--1: clamp(1.46rem, calc(0.66rem + 0.94vw), 0.94rem);
  --step-0: clamp(1.13rem, calc(0.79rem + 1.13vw), 1.75rem);
  --step-1: clamp(1.35rem, calc(0.94rem + 1.35vw), 2.10rem);
  --step-2: clamp(1.62rem, calc(1.13rem + 1.63vw), 2.52rem);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(180deg, rgba(0, 32, 58, 0.849), rgba(53, 144, 219, 0.596));
  height: auto;
  width: 100vw;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-size: var(--step-1);
}
h2{
  font-size: var(--step--2);
}
h3{
  font-size: var(--step--3);
}
h4{
  font-size: var(--step--3);
}

.cabeca{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 100vw;
  margin-inline: auto;
  padding: 25px 10px;
}


.foto{
  width: 100vw;
  height: 400px;
  background-image: url('/portfolio.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

img {
  max-width: 100%;
  height: auto;
}

.info{
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;   
  padding: 50px;
  line-height: 1cm;
  /* margin-inline: auto; */
  /* border: 1px solid black; */
}

.resumo{
  width: 100%;
  padding-top: 30px;
  text-align: center;
  font-size: var(--step--3);
  margin-inline: auto;
  line-height: 0.75cm;
}

.skills{
  border-top: 3px solid black;
  width: min(60%, 1100px);
  height: auto;

  margin-inline: auto;
  text-align: left;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
  font-size: 14pt;
  line-height: 1cm;
}

.noskills{
  width: min(60%, 1100px);
  height: auto;

  margin-inline: auto;
  text-align: left;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
}

.slider{
  margin: 0;
  padding: 20px 0px 50px 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.slider--width{
  height: 100%;
  display: flex;
  transition: all ease 0.3s;
}

.slider--item{
  width: 100vw;
  height: inherit;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 1px 1px #333;
  font-size: 50px;
}

.slider--controls{
  position: absolute;
  padding-left: 1%;
  z-index: 99;
  width: 98%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}

@media (max-width: 600px){
  .cabeca{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .info{
    width: 80vw;
  }
  .skills{
    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .hard{
    padding-top: 20px;
  }
  .noskills{
    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .slider--width{
    width: 100%;
  }
  .slider--control{
    justify-content: center;
    align-items: center;
  }
}

.slider--control{
  height: 50px;
  width: 50px;
  background-color: rgba(0.2, 0.2, 0.2, 0.2);
  border-radius: 25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}

.slider--control:hover{
  background-color: rgba(0.2, 0.2, 0.2, 0.4);
}

.slider--control:active{
  background-color: rgba(0.2, 0.2, 0.2, 0.4);
  border: 1px solid black;
}

.projetos{
  border-top: 3px solid black;
  padding: 25px;
  width: 60%;
  text-align: center;
  margin-left: 225px;
}

span{
  color: black;
}

span:hover{
  font-weight: bold;
}

.fishiny{
  display: flex;
  padding: 25px;
}

.fishinydescricao{
  /* border: 1px solid red; */
  width: 50vw;
  padding: 25px;
  line-height: 0.75cm;
  text-align: center;
  font-size: 14pt;
  margin: auto;
}

.fishinydescricao a{
  text-decoration: none;
}

.fishinygraph{
/*     border: 1px solid red; */
  width: 50vw;
}

.fishinygraph img{
  width: 100%;
}

.social-container {
  width: 400px;
  margin: 40vh auto;
  text-align: center;  
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.social-container a {
  display: inline-block;
}     

.social-container a::before {
  transform: scale();
  -ms-transform: scale();
  -webkit-transform: scale();
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00B5F5, #002A8F);
  transition: all 265ms ease-out;
}
      
.social-container a:hover::before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
      
.social-container a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00B5F5;
  background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
